   <div style="display: flex; justify-content: space-evenly; margin-top: 100px;">
   {{#each mentors}}
   <div class="card" style="width: 18rem;">
  
    <div class="card-body">
    <h5 class="card-title">{{this.name}} {{this.lastname}}</h5>
    <p class="card-text">Опыт:{{this.experience}}</p>
    <a href="#" class="btn btn-primary">Записаться</a>
    </div>
    </div><br>
    {{/each}}
  </div>
