<form id="imageForm" method="POST" action="/image" enctype="multipart/form-data">


    <div class="input-group mb-3">
  <span class="input-group-text">Image</span>
  <input id="image" class="form-control" name="image" type="file" >
    </div>
</form>
