<div class="container">
<form id="signupForm" method="POST" action="/signup" enctype="multipart/form-data">

  <h1>Стать ментором</h1>
 <div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Profile picture</span>
  <input id="image" class="form-control" name="image" type="file">
    </div>

    <div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Username</span>
  <input id="username" class="form-control" name="username" type="text" required pattern="[A-Za-z]\w+" minlength="4"
        title="Латинские буквы, цифры и _">
    </div>

    <div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Email</span>
  <input id="email" class="form-control" name="email" type="email" required>
    </div>

    <div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Пароль</span>
  <input id="password" class="form-control" name="password" type="password" required>
    </div>

    <div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Имя</span>
  <input id="name" class="form-control" name="name" type="text" required>
    </div>

    <div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Фамилия</span>
  <input id="lastname" class="form-control" name="lastname" type="text" required>
    </div>

    <div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Страна</span>
  <input id="country" class="form-control" name="country" type="text" required>
    </div>

    <div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Город</span>
  <input id="city" class="form-control" name="city" type="text" required>
    </div>

    <div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Опыт работы</span>
  <input id="experience" class="form-control" name="experience" type="text" required>
    </div>

    <div class="input-group">
  <span class="input-group-text">О себе</span>
  <textarea class="form-control" aria-label="With textarea" id="aboutMe" name="aboutMe"></textarea>
    </div>
    <span>Тэги</span>
  {{#if tags}}
  {{#each tags}}
  <div class="container">
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="{{this._id}}" name="tags" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    {{this.tag}}
  </label>
</div>
</div>
  {{/each}}
  {{/if}}
  <br>
  <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>
</div>
